/* CSS for new VCU branding -
Responsive web design branding header and footer */

body{ visibility: visible !important; width:100% !important; margin:0 !important; padding:0 !important; background-position:0 60px;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, video {display: block;}

/* Layout
--------------------------------------------------------------------*/
.no-js #vcuIdentityWrapper { display:none;}
.js #vcuIdentityWrapper { display:block; background-image: url(../images/body-bg.gif); background-color:#000; background-repeat:repeat-x; background-position:top; height:60px; margin:0; padding:0; text-align:left;}
.js #vcuIdentity header {width:100%; max-width: 960px; margin:0 auto; padding:0; height: 60px;}

	/* Identity */
	.js #vcuIdentity {width:100%; height: 54px; max-width:982px; margin:0 auto; padding:0; background-color:#000;}
	.js #vcuIdentity h1 {margin:0; padding:0;}
	.js #vcuIdentity h1 a {text-indent: -9999px; display:block; width:804px; height:60px; background: url(../images/vcubrand.gif) no-repeat; margin: 0 0 0 30px; padding:0; text-decoration:none; border:0; }
	.js #vcuIdentity h1 a:hover {opacity:1}
	.js #vcuIdentity h2 {margin:0; padding:0; float:right;}
	.js #vcuIdentity h2 a {text-indent: -9999px; display:block; width:109px; height:31px; background: url(../images/makeitreal.gif) no-repeat; margin: -37px 40px 0 0; padding:0; text-decoration:none; border:0; }
	.js #vcuIdentity h2 a:hover {opacity:1}

/* Logo
----------------------------------------------------------------------*/
#realLogo {width:100%; background-color:#000; display:none; margin:0; height:50px; position: relative; clear:both; overflow: hidden;  }
#realLogo h1 {margin:0; padding:0; font-size:30px; background-color:#000;}
#realLogo h1 a {text-indent: -9999px; display:block; width:280px; height:30px; background: url(../images/makeitrealFooter.gif) no-repeat; margin:0 auto; padding:0;}
#realLogo h2 {margin:0; padding:0; font-size:15px; background-color:#000;}
#realLogo h2 a {text-indent: -9999px; display:block; width:280px; height:15px; background: url(../images/vcubar-footer.gif) no-repeat; margin:0 auto; padding:0;}

/********************
	Media queries
*********************/

@media screen and (max-width:995px) {
	#vcuIdentityWrapper { background: #fff url(../images/body-bg-768.gif) repeat-x top !important; height:54px !important; }
	#vcuIdentity {max-width:840px !important;}
	#vcuIdentity h1 a {background:url(../images/vcubrand-768.gif) no-repeat !important; width:659px !important;}
	#vcuIdentity h2 a { margin-top:-41px !important;}
}

@media screen and (max-width:873px) {
	body {background-position:0 48px !important;}
	#vcuIdentityWrapper { background: #fff url(../images/body-bg-600.gif) repeat-x top; height:48px; }
    #vcuIdentity header { height: 48px !important;}
	#vcuIdentity {margin:0 auto; max-width:670px !important;}
	#vcuIdentity h1 a {background:url(../images/vcubrand-600.gif) no-repeat !important; width:519px !important; text-decoration:none !important; border:0 !important;}
	#vcuIdentity h2 a {background:url(../images/makeitreal-600.gif) no-repeat !important; width:84px !important; height:39px !important; margin-top:-46px !important; text-decoration:none !important; border:0 !important;}
}

@media screen and (max-width:768px) {
	#vcuIdentity {margin:0 auto; max-width:670px !important;}
}

@media screen and (max-width:767px) {
	#wrapper, #wrap, #content, #container, .wrapper, .wrap, .content, .container { padding-bottom: 50px; min-height: 100%;}
	body {background-position:0 35px !important;}
	#vcuIdentityWrapper { height:35px !important; background: #fff url(../images/body-bg-sm.gif) repeat-x top !important; }
    #vcuIdentity header { height: 35px !important;}
	#vcuIdentity {height:35px !important;}
	#vcuIdentity h1 a {background:url(../images/vcuseal.gif) no-repeat !important; margin: 0 auto !important; width:99px !important; height:35px !important; text-decoration:none !important; border:0 !important;}
	#vcuIdentity h2 a {display:none !important; text-decoration:none !important; border:0 !important;}
	#realLogo {display:block !important;}
}
